<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        tools:ignore="GradleOverrides" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- <uses-permission android:name="android.permission.SEND_SMS" /> -->


    <!-- To auto-complete the email text field in the login form with user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:extractNativeLibs="false"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/DragLabsNew"
        tools:targetApi="m"
        tools:replace="android:icon,android:theme">

        <service
            android:name=".Services.LocationTrackingService"
            android:process=":location_tracking_service"
            android:enabled="true"/>

        <service
            android:name=".Services.AudioRecordingService"
            android:process=":audio_recording_service"
            android:enabled="true" />
        
        <receiver
            android:name=".Services.AudioRecordingReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped" >
            <intent-filter>
                 <action
                     android:name=".Services.RestartAudioRecordingService" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.facebook.sdk.ApplicationID"
            android:value="@string/com.facebook.sdk.ApplicationId" />

        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:theme="@style/DragLabsNew">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity">

            <!-- This meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ContactActivity"
            android:label="@string/title_activity_contact"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity">

            <!--  -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.EnterInfoActivity"
            android:label="@string/title_activity_enter_info"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/DragLabsActionBarNew"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.NewLoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:exported="true"
            android:parentActivityName=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
            <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/com.facebook.sdk.ApplicationId" />
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:exported="true"
            android:parentActivityName=".activities.NewLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.NewLoginActivity" />
            <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/com.facebook.sdk.ApplicationId" />
        </activity>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.NewLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.facebook.FacebookActivity" />
        </activity>
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider147689855771285"
            android:exported="false" />
        <activity
            android:name=".activities.TestNavActivity"
            android:label="@string/title_activity_test_nav"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/DragLabsNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.draglabs.dsoundboy.dsoundboy.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ListOfJamsActivity"
            android:label="@string/title_activity_list_of_jams"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.TestNavActivity"
            android:theme="@style/DragLabsActionBarNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.TestNavActivity" />
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/DragLabsActionBarNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.draglabs.dsoundboy.dsoundboy.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.EditJamActivity"
            android:label="@string/activity_name_edit_jam"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.ListOfJamsActivity"
            android:theme="@style/DragLabsActionBarNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ListOfJamsActivity" />
        </activity>
        <activity
            android:name=".activities.InstructionsActivity"
            android:label="@string/title_activity_instructions"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.TestNavActivity"
            android:theme="@style/DragLabsNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.draglabs.dsoundboy.dsoundboy.activities.TestNavActivity" />
        </activity>
        <activity
            android:name=".activities.EmailLoginActivity"
            android:label="@string/title_activity_email_login"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.NewLoginActivity"
            android:theme="@style/DragLabsActionBarNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.draglabs.dsoundboy.dsoundboy.activities.NewLoginActivity" />
        </activity>
    </application>
</manifest>